# Laravel
/vendor
/node_modules
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mix-manifest.json
public/hot
public/storage

# IDE & editor
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Log & cache
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
bootstrap/cache/*

vite.config.js
